@import url('https://fonts.googleapis.com/css?family=Ubuntu');


body{
    padding: 0;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(82,91,102,1) 100%);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}


.All{
   
    display: grid; 
    grid-template-columns: 0.8fr 1.4fr 0.8fr; 
    grid-template-rows: 1fr; 
    gap: 3px 8px; 
    grid-template-areas: 
      ". . ."; 
}


.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #42567d 0%,
    #5e8b9b 29%,
    #a7e2e294 67%,
    #346990 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* left part */

.left{
    height: 800px;
    width: 400px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 50px;
  
}


.tit{
    font-family: 'Ubuntu', sans-serif;
    width: 80px;
    height: 80px;
    display: flex;
    margin: 0 auto;
    justify-content:center;
    align-items:center;
    font-size: 50px;
    color: blue;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 0 0 8px #316472;
   
    

}


/*Right container */
.right{
    height: 700px;
    width: 400px;
    margin: 0 auto;
    margin-top: -50px;
    display: flex;
    margin-right: 40px;

    flex-direction: column;
    justify-content: center;
    align-self: center;
    justify-content: center;
    box-sizing: border-box;
}

.info{
    height: 40px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -60px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 1px 5px 2px rgba(122, 171, 204, 1);
}

.info:hover{
    cursor: pointer;
}


.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }



.showInfo{
    height: 500px;
    width: 100%;
    margin-bottom: 50px;
    
}
.infoText{
    display: none;
    color: rgb(255, 255, 255);
}

.cont_ico{
    width: 30Px;
    height: 30px;
}
.musicBtn{
    box-sizing: border-box;
    width: 90px;
    height: 70px;
    margin: 0 auto;
    background-image: linear-gradient(rgb(50, 111, 176) 0, rgba(148, 185, 214, 0) 100%);
    border-radius: 125px;
    transition: all .3s;
    color: white;
}


.musicBtn:hover {
  box-shadow: rgba(94, 181, 181, 0.2) 0 3px 15px inset, rgba(54, 122, 189, 0.1) 0 3px 5px, rgba(92, 181, 197, 0.1) 0 10px 13px;
  transform: scale(1.05);
}


 



.infoClick{
    display: flex;
    margin: 0 auto;
    margin-left : -90%;
    z-index: 1;
    position: relative;
    margin-top: 20px;;
    width: 70px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    align-items: center;
    justify-content: center;
    color: white;

}


.subInfo{
    color: black; 
     font-size: 20px;
}


.container{
    display: inline-block;
    width: 50vw;
    height: auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 29px 35px 36px 22px rgba(0,0,0,0.75);
    -moz-box-shadow: 29px 35px 36px 22px rgba(0,0,0,0.75);
    box-shadow: 29px 35px 36px 22px rgba(0,0,0,0.75);
    background: rgb(94,80,103);
    background: linear-gradient(189deg, rgba(94,80,103,1) 0%, rgba(244,244,244,1) 0%, rgba(176,211,247,1) 39%, rgba(151,199,248,1) 53%, rgba(75,138,203,1) 74%, rgba(69,159,252,1) 100%);
}

.game{
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}



.pc{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 0px;
}

.pc_up{
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;

}

.random{
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    display: flex;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.playBtn{
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 40px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}


    
.random {
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
}


.valBtn{
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 4rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 40px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
   ;
}





#picker{
    width: 310px;
    height: 80px;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}




#picker div{
    width: 40px;
    height: 40px;
    display: inline-block;
}



.di1{
    border-radius: 50%;
    height: 1px;
    width: 1px;
    margin-left: 5px;
}

.di1:hover{
    cursor: pointer;

}






.VisibilityY{
    pointer-events: none;
}

.VisibilityX{
    pointer-events: auto;
}


.result{
    width: 40px;
    height: 40px;
    display: inline-block;
}

.resA, .resB , .resC, .resD{
width: 10px;
height: 10px;
display: inline-block;
border: 1px solid black;
text-align: center;
align-items:  center;
}

.dontShow{
display: none;
}

.correctColor{
background-color: gray;
}

.wrongColor{
background-color: white;
}


.correctPosition{
background-color: black;
}



/* RESPONSIVE */


@media only screen and(max-width: 1000px) {
    .button-36 {
    padding: 0 2.6rem;
    }
    .random{
       
        height: 20px;
        width: 20px;
    }
}
    





